*,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

body {
  width: 100%;
  height: 100%;
  font-family: "Alegreya Sans", serif;
}

.wrapper {
  position: relative;
  max-width: 100%;
  min-height: 100%;
  display: block;
  overflow: hidden;
}

.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 10px;
}

.container {
  width: 100%;
  max-width: 940px;
  height: 100%;
  min-height: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 21px 41px;
  color: #0b4d3c;
  font-size: 16px;
  font-weight: bold;
  background: wheat;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .btn {
    line-height: 18px;
  }
}
.btn:hover {
  color: wheat;
  background: #0b4d3c;
}

.title {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 38px;
    line-height: 36px;
  }
}

.section__map {
  height: 100vh;
  min-height: 650px;
}

.map {
  width: 100%;
  height: 100%;
}

.section__one {
  background: url("../img/one/uzor-one-1.png") right bottom no-repeat;
  background-size: 512px;
  background-color: #61c4d9;
}
@media screen and (max-width: 768px) {
  .section__one {
    background-position-y: -155px;
  }
}
@media screen and (max-width: 480px) {
  .section__one {
    background-position-y: 62px;
    background-size: 324px;
  }
}
.section__one:before {
  position: absolute;
  display: block;
  content: url("../img/one/list-one-3.png");
  bottom: -40px;
  left: 3%;
  z-index: 10;
}
.section__one:after {
  content: url("../img/one/comp-one.png");
  display: block;
  position: absolute;
  bottom: -40px;
  right: 93px;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .section__one::after, .section__one::before {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

nav {
  width: 100%;
}
@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
}

.nav__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .nav__list {
    display: none;
  }
}

.nav__item {
  margin-right: 27px;
  line-height: 30px;
  white-space: nowrap;
}
.nav__item:last-child {
  margin-right: 0;
}

.header__phone {
  font-size: 22px;
  line-height: 18px;
}
@media screen and (max-width: 768px) {
  .header__phone {
    display: none;
  }
}

.header__phone a {
  display: flex;
  align-items: center;
}

.phone-icon {
  height: 13px;
  width: 13px;
  margin-right: 6px;
}

.phone-number {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 18px;
}

.container--one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px 0 50px;
  background: url("../img/one/batonchick.png") right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .container--one {
    background: none;
    padding-bottom: 0;
  }
}
.container--one::after {
  display: block;
  position: absolute;
  content: url("../img/one/list-one-1.png");
  right: 8%;
  bottom: 14%;
}
@media screen and (max-width: 768px) {
  .container--one::after {
    display: none;
  }
}
.container--one::before {
  display: block;
  position: absolute;
  content: url("../img/one/berry-one-1.png");
  right: 30%;
  bottom: 5%;
}
@media screen and (max-width: 768px) {
  .container--one::before {
    display: none;
  }
}

.one__title {
  color: wheat;
  font-family: "Alegreya Sans";
  font-size: 48px;
  width: 40%;
}
@media screen and (max-width: 768px) {
  .one__title {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 25px;
    margin-top: 0;
  }
  .one__title::before {
    content: "";
    display: block;
    background-image: url("../img/one/onebg.png");
    background-repeat: no-repeat;
    width: 353.12px;
    height: 367.16px;
    top: 0;
    background-size: contain;
    position: absolute;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .one__title::before {
    position: static;
    margin-bottom: 21px;
    width: 325.77px;
    height: 338.72px;
    justify-content: flex-end;
  }
}
.one__main-title {
  text-transform: uppercase;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 4px;
}
@media screen and (max-width: 768px) {
  .one__main-title {
    position: relative;
    left: 4px;
  }
}
@media screen and (max-width: 480px) {
  .one__main-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    top: -30px;
    left: 1px;
  }
}

.one__dest-title {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 32px;
  position: relative;
  top: 13px;
}
@media screen and (max-width: 768px) {
  .one__dest-title {
    width: 50%;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 23px;
    top: 1px;
    left: 8px;
  }
}
@media screen and (max-width: 480px) {
  .one__dest-title {
    width: 70%;
    font-size: 18px;
    line-height: 20px;
    top: -26px;
  }
}

.one-btn {
  position: relative;
  top: 12px;
}
@media screen and (max-width: 768px) {
  .one-btn {
    top: 3px;
    left: -1px;
  }
}
@media screen and (max-width: 480px) {
  .one-btn {
    top: -22px;
    left: 2px;
    font-size: 19px;
    line-height: 18px;
  }
}

.one__icon {
  width: 50%;
  position: relative;
  bottom: -5px;
  left: -3px;
}
@media screen and (max-width: 768px) {
  .one__icon {
    display: none;
  }
}

.icon__list {
  display: flex;
  color: wheat;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.icon__item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.icon__item:last-child {
  margin-right: 0;
}

.icon-block {
  margin-right: 11px;
  width: 45px;
}

.icon-text {
  width: 98px;
}

.logo-icon {
  height: 40px;
  width: 50px;
  fill: #fff;
}

.phone-icon {
  height: 13px;
  width: 13px;
  fill: #fff;
}

.one-icon {
  width: 36px;
  height: 35px;
  fill: #fff;
}

.burger-menu {
  display: none;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .burger-menu {
    display: flex;
  }
}

.burger-menu__item {
  height: 4px;
  width: 26px;
  background: #fff;
  margin-bottom: 5.5px;
  border-radius: 10px;
}

.section__two {
  background: #fff;
  min-height: 650px;
}
.section__two:after {
  position: absolute;
  content: url("../img/two/malina.png");
  bottom: -140px;
  left: 0;
  z-index: 10;
}
@media screen and (max-width: 480px) {
  .section__two:after {
    content: "";
  }
}
.section__two:before {
  position: absolute;
  content: url("../img/two/liav.svg");
  left: 0;
  top: 30%;
}
@media screen and (max-width: 768px) {
  .section__two:before {
    content: "";
  }
}

.container--two {
  padding-top: 102px;
}
@media screen and (max-width: 480px) {
  .container--two {
    padding-top: 52px;
  }
}

.block-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 49px;
  z-index: 70;
}
@media screen and (max-width: 480px) {
  .block-title {
    margin-bottom: 62px;
  }
}
.block-title .title {
  padding-bottom: 6px;
}
@media screen and (max-width: 480px) {
  .block-title .title {
    padding-bottom: 12px;
    text-align: center;
  }
}

.title__two {
  font-size: 48px;
  line-height: 58px;
}
@media screen and (max-width: 480px) {
  .title__two {
    font-size: 27px;
    font-weight: 700;
    line-height: 34px;
  }
}
@media screen and (max-width: 480px) {
  .title__two {
    font-size: 40px;
    line-height: 36px;
  }
}

.subtitle {
  width: 47%;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .subtitle {
    width: 60%;
    line-height: 20px;
  }
}
@media screen and (max-width: 480px) {
  .subtitle {
    width: 90%;
    line-height: 20px;
  }
}

.block-promo {
  z-index: 70;
}

.list__promo {
  display: flex;
}
@media screen and (max-width: 480px) {
  .list__promo {
    flex-direction: column;
    padding-bottom: 54px;
  }
}

.item__promo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .item__promo {
    flex-direction: row;
    padding: 0px 11px;
    margin-bottom: 30px;
  }
}

.promo__img {
  width: 128px;
  height: 128px;
  background: #f2f5f4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 480px) {
  .promo__img {
    margin: 0;
    background: none;
    margin-left: 24px;
    margin-right: 40px;
    padding-bottom: 14px;
    width: 154px;
  }
}

.two-icon {
  width: 64px;
}

.promo-text {
  display: flex;
  flex-direction: column;
}

.promo__title {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: #292929;
  margin-bottom: 8px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .promo__title {
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 480px) {
  .promo__title {
    text-align: start;
  }
}

.promo__subtitle p {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .promo__subtitle p {
    text-align: start;
  }
}

.section__slider {
  background: #f8faf9;
}
.section__slider:after {
  display: block;
  content: url("../img/slider/layer-bar1 1.png");
  position: absolute;
  right: 0;
  bottom: -80px;
}
@media screen and (max-width: 768px) {
  .section__slider:after {
    bottom: 0;
  }
}

.container__slider {
  flex-direction: row;
  justify-content: space-between;
}

.slider-shop {
  display: block;
  position: relative;
  width: 100%;
}

.block-content__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .block-content__slider {
    flex-direction: column;
    padding-top: 86px;
  }
}
.block-content__slider .leaf {
  position: absolute;
}
.block-content__slider .leaf1 {
  top: 236px;
  left: -85px;
}
@media screen and (max-width: 768px) {
  .block-content__slider .leaf1 {
    top: 154px;
    left: 163px;
  }
}
.block-content__slider .leaf2 {
  bottom: 137px;
  left: 285px;
}
@media screen and (max-width: 768px) {
  .block-content__slider .leaf2 {
    bottom: 226px;
    left: 445px;
  }
}

.block__slider {
  width: 50%;
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  .block__slider {
    position: relative;
    left: 36px;
    top: 27px;
    margin-left: 0;
  }
}

.block__slider-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 26px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .block__slider-text {
    width: 100%;
    padding: 0;
    padding-top: 54px;
  }
}

.slider-text__composition {
  margin-top: 66px;
  display: flex;
  position: relative;
}
@media screen and (max-width: 768px) {
  .slider-text__composition {
    display: none;
  }
}

.box__icon {
  width: 91px;
  height: 91px;
  background: #86c3d7;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
}
.box__icon:hover ~ .composition-list {
  display: block;
}
.box__icon span {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14.0121px;
  line-height: 17px;
  color: #fff;
}

.bar-icon {
  width: 46px;
  height: 46px;
  fill: #fff;
}

.slider-text__title {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #292929;
  margin-top: 23px;
}
@media screen and (max-width: 768px) {
  .slider-text__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }
}

.slider-text__subtitle {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  margin-top: 23px;
  z-index: 4;
}
@media screen and (max-width: 768px) {
  .slider-text__subtitle {
    margin-top: 14px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

.box-text {
  width: 91%;
}
@media screen and (max-width: 768px) {
  .box-text {
    width: 72%;
    margin: 0 auto;
  }
}

.box-caloric {
  margin-top: 23px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .box-caloric {
    justify-content: center;
  }
}

.box-caloric__calor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 44px;
}

.box-caloric__mas {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.box-price {
  display: flex;
  margin-top: 23px;
}
@media screen and (max-width: 768px) {
  .box-price {
    justify-content: center;
  }
}

.box-price__sum {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 60px;
  color: #151515;
  margin-right: 40px;
}

.btn__slider--green {
  background: #0b4d3c;
  color: #ffffff;
}
.btn__slider--green:hover {
  color: #0b4d3c;
  background: #fff;
}

.block-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 25px;
  height: 27px;
}
.arrow:hover {
  fill: aqua;
}

.block-arrow__left {
  margin-right: 59px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .block-arrow__left {
    margin: 0;
    left: 15%;
  }
}
@media screen and (max-width: 768px) {
  .block-arrow__left .block-arrow__img {
    bottom: 68px;
  }
}
@media screen and (max-width: 480px) {
  .block-arrow__left .block-arrow__img {
    bottom: 100px;
  }
}

.block-arrow__right {
  position: relative;
}
@media screen and (max-width: 768px) {
  .block-arrow__right {
    right: 9%;
  }
}
.block-arrow__right .block-arrow__img {
  position: relative;
}
@media screen and (max-width: 768px) {
  .block-arrow__right .block-arrow__img {
    bottom: 68px;
  }
}
@media screen and (max-width: 480px) {
  .block-arrow__right .block-arrow__img {
    bottom: 100px;
  }
}

.block-arrow__img {
  height: 40px;
  width: 24px;
  position: relative;
}

span b {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.composition-list {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 4px;
  padding: 30px;
  position: absolute;
  left: 92px;
  display: none;
  z-index: 5;
}

.composition-item {
  display: flex;
  margin-bottom: 28px;
  align-items: center;
  justify-content: space-between;
  text-align: start;
}
.composition-item:last-child {
  margin-bottom: 0;
}

.composition__icon {
  margin-right: 16px;
  width: 32px;
  height: 32px;
}
.composition__icon:hover {
  fill: purple;
}

.composition__title {
  margin-right: 30px;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 500;
}

.section__collective {
  display: flex;
  align-items: center;
}

.title--collective {
  text-align: center;
  margin-top: 68px;
  margin-bottom: 53px;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .title--collective {
    margin: 0;
    margin-top: 173px;
    margin-bottom: 33px;
  }
}

.blocks-avotar {
  height: 100%;
}

.list-avotar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 12;
}
@media screen and (max-width: 768px) {
  .list-avotar {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.list-avotar__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-right: 20px;
  transition: all 5s ease-in-out;
}
@media screen and (max-width: 768px) {
  .list-avotar__item {
    margin: 0;
    margin-bottom: 16px;
    flex: 0;
  }
}
.list-avotar__item:last-child {
  margin-right: 0;
}

.block-avotar__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-avotar {
  margin-bottom: 21px;
}
@media screen and (max-width: 768px) {
  .block-avotar {
    margin: 0;
    height: 0;
    visibility: hidden;
  }
}

.avotar-name {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  transition: 0.1s;
}
.avotar-name:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.8px 4.5px 0 4.5px;
  border-color: #365a49 transparent transparent transparent;
  position: relative;
  left: 4px;
}

.avotar__box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  height: 0;
}

.avotar-title {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #292929;
  margin-bottom: 4px;
}

.avotar-subtitle {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
}
.avotar-subtitle p {
  text-align: center;
}

.block-collectiv__img {
  position: absolute;
}
.block-collectiv__img img {
  max-width: 100%;
}
.block-collectiv__img--uzor4 {
  width: 196px;
  right: 0;
  top: -198px;
}
.block-collectiv__img--yagoda11 {
  width: 135px;
  right: 0;
  top: -25px;
}
.block-collectiv__img--yagoda21 {
  width: 104px;
  left: 35px;
  bottom: -45px;
  z-index: 20;
}

.list-avotar__item--activ .block-avotar {
  height: auto;
  visibility: visible;
}
.list-avotar__item--activ .avotar__box-text {
  order: 1;
  visibility: visible;
  height: auto;
}
.list-avotar__item--activ .avotar-name:after {
  transform: rotate(-180deg);
}

.list-avotar__mobail {
  display: none;
}
@media screen and (max-width: 768px) {
  .list-avotar__mobail {
    display: block;
  }
  .list-avotar__mobail .block-avotar__text {
    visibility: visible;
    height: auto;
  }
  .list-avotar__mobail .block-avotar__text .avotar-title {
    margin-top: 20px;
  }
  .list-avotar__mobail .block-avotar__text .avotar-subtitle {
    width: 65%;
  }
}

.section__acordion {
  background: url("../img/acordion/bg-acordion.png") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 100vh;
  min-height: 650px;
  padding: 0;
}

.acordion-block {
  display: block;
  width: 100%;
  max-height: 100%;
}

.acordion-menu {
  padding-top: 109px;
  padding-left: 84px;
  padding-right: 35px;
  color: #fff;
}

.acordion-list {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

.acordion-item {
  width: 99px;
  height: 100%;
  display: flex;
}

.acordion-item__img {
  width: 102px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 39px;
  display: flex;
  color: white;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  height: 100%;
}
.acordion-item__img p {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  font-size: 48px;
}
.acordion-item__img--milk {
  background: url("../img/acordion/bg1.png") center no-repeat;
  background-size: cover;
}
.acordion-item__img--fruit {
  background: url("../img/acordion/bg2.png") center no-repeat;
  background-size: cover;
}
.acordion-item__img--berry {
  background: url("../img/acordion/bg3.png") center no-repeat;
  background-size: cover;
}

.acordion-item__text {
  height: 0;
  visibility: hidden;
}

.acordion-item__text--activ {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
}
.acordion-item__text--activ .acordion-item__text {
  height: auto;
  visibility: visible;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: rgba(51, 53, 55, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding-left: 38px;
  padding-top: 30px;
  padding-right: 80px;
}

.section__revuev {
  background: #fff;
  height: 100%;
}
.section__revuev:after {
  position: absolute;
  content: url("../img/revuev/straw.png");
  position: absolute;
  top: 47px;
  right: 18px;
}
@media screen and (max-width: 768px) {
  .section__revuev:after {
    width: 136px;
    top: 0;
    right: 0;
  }
}
.section__revuev:before {
  position: absolute;
  content: url("../img/revuev/uzorrevu.svg");
  left: 0;
  bottom: -170px;
}

.container__revuev {
  position: relative;
  height: 100%;
}

.title--rev {
  text-align: center;
  margin-top: 62px;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .title--rev {
    margin-bottom: 89px;
    font-size: 33px;
    margin-top: 102px;
    margin-bottom: 0;
  }
}

.title-rev {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}
@media screen and (max-width: 480px) {
  .title-rev {
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
  }
}

.block-rev {
  position: relative;
  min-height: 348px;
  display: flex;
  background: url("../img/revuev/yagoda21.svg") top right no-repeat;
  background-size: 127px;
  background-position-y: 20px;
  background-color: #f8faf9;
  padding: 42px;
  overflow: hidden;
}
.block-rev::before {
  position: absolute;
  display: block;
  content: "";
  height: 90px;
  width: 90px;
  background: #fff;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -65px;
}
@media screen and (max-width: 768px) {
  .block-rev {
    background-position-y: 40px;
    padding-bottom: 23px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .block-rev::before {
    display: none;
    overflow: visible;
  }
}

.item-rev {
  display: flex;
  position: absolute;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .item-rev {
    flex-direction: column;
    align-items: center;
  }
}

.item-rev--activ {
  opacity: 1;
  position: static;
}

.rev-img {
  display: block;
  height: auto;
  max-width: 253px;
  margin-right: 40px;
}
@media screen and (max-width: 768px) {
  .rev-img {
    max-width: 130px;
    margin: 47px 0 0 0;
  }
}

.rev-text {
  font-family: "Alegreya Sans";
  width: 47%;
  padding-right: 5px;
}
@media screen and (max-width: 768px) {
  .rev-text {
    width: 100%;
    text-align: center;
  }
}

.rev-text__title {
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  margin-bottom: 12px;
  padding-top: 27px;
}
@media screen and (max-width: 768px) {
  .rev-text__title {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 480px) {
  .rev-text__title {
    font-size: 27px;
    line-height: 32px;
  }
}

.rev-text__subtile {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .rev-text__subtile {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 480px) {
  .rev-text__subtile {
    font-size: 18px;
    line-height: 22px;
  }
}

.rev-text__name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
@media screen and (max-width: 768px) {
  .rev-text__name {
    margin: 0 0 53px 0;
  }
}
@media screen and (max-width: 480px) {
  .rev-text__name {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 49px;
  }
}

.rev__block-img {
  display: block;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  .rev__block-img {
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .rev__block-img {
    padding-bottom: 86px;
  }
}

.rev__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rev__item {
  width: 74px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}
.rev__item:last-child {
  margin-right: 0;
}
.rev__item img {
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .rev__item {
    width: 64px;
  }
}

.rev__item--activ {
  border: 3px solid #0b4d3c;
}

.section__work {
  position: relative;
  background: #F8FAF9;
}

.container__work {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block__video {
  width: 60%;
  height: 40%;
}
.block__video video {
  width: 100%;
}

.worksmg img {
  max-width: 100%;
}

.workmg1 {
  position: absolute;
  left: 15%;
  bottom: 3%;
}

.workmg2 {
  position: absolute;
  top: 81px;
  right: 101px;
}

.workmg3 {
  position: absolute;
  right: 0;
  bottom: -100px;
  z-index: 30;
}
@media screen and (max-width: 480px) {
  .workmg3 {
    width: 20%;
    bottom: -55px;
  }
}

.workmg4 {
  position: absolute;
  top: -100px;
  left: 0;
}

input {
  border: transparent;
  outline: none;
  line-height: 20px;
}
input:hover {
  border: 1px solid #dee2bd;
}

.section__form {
  height: 100%;
  background: url("../img/form/bg.png") center no-repeat;
  background-size: cover;
  padding-top: 62px;
  padding-bottom: 85px;
}
@media screen and (max-width: 480px) {
  .section__form {
    padding-top: 90px;
  }
}

.container__form {
  font-family: "Alegreya Sans";
  font-style: normal;
  position: relative;
}

.block-title__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 38px;
}
@media screen and (max-width: 768px) {
  .block-title__form {
    margin-bottom: 30px;
  }
}
.block-title__form .title__form {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: #365a49;
}
@media screen and (max-width: 480px) {
  .block-title__form .title__form {
    font-size: 40px;
    line-height: 36px;
    text-align: center;
  }
}

.form {
  display: flex;
  color: #497870;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  -moz-column-gap: 27px;
       column-gap: 27px;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    align-items: center;
  }
}

.form__left {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .form__left {
    width: 63%;
    margin-bottom: 19px;
  }
}
@media screen and (max-width: 480px) {
  .form__left {
    width: 100%;
  }
}

.form .form__right {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .form .form__right {
    width: 63%;
  }
}
@media screen and (max-width: 480px) {
  .form .form__right {
    width: 100%;
  }
}

.form__title {
  margin-bottom: 2px;
}

.form__left-input {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  width: 100%;
}

.form__input {
  width: 100%;
  padding: 12px 18px;
  border-radius: 5px;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__block {
  flex: 1;
}

.form__right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form__right-textaria {
  margin-bottom: 36px;
}
.form__right-textaria textarea {
  width: 100%;
  height: 152px;
  border-radius: 4px;
  border: none;
  resize: none;
}
.form__right-textaria textarea:focus {
  border-color: #dee2bd;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__right-textaria textarea {
    height: 82px;
  }
}
@media screen and (max-width: 768px) {
  .form__right-textaria {
    margin-bottom: 20px;
  }
}

.form__right-radio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.form__right-radio .radio {
  display: flex;
  margin-right: 24px;
}
.form__right-radio .radio:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .form__right-radio {
    gap: 3px;
    margin-bottom: 3px;
  }
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  position: relative;
  width: 25px;
  height: 25px;
  background: #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}
.radio__visible:before {
  display: none;
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background: #0b4d3c;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radio__visible--checkbox {
  border-radius: 0;
}
.radio__visible--checkbox:before {
  background: url("../img/form/g1.png") center no-repeat;
}

.form__right-checkbox {
  display: flex;
  margin-bottom: 44px;
}
@media screen and (max-width: 480px) {
  .form__right-checkbox {
    justify-content: center;
    margin-bottom: 40px;
  }
}

.radio__checkbox {
  display: flex;
}

.form__right-btn {
  display: flex;
  justify-content: center;
}

.btn__form--gren {
  background: #0b4d3c;
  color: #ffffff;
}
.btn__form--gren:hover {
  color: #0b4d3c;
  background: #fff;
}
.btn__form--transperent {
  background: transparent;
  color: #000;
}
.btn__form--transperent:hover {
  background: transparent;
  color: #0b4d3c;
}

.block-form__img {
  position: absolute;
}
.block-form__img--yagoda {
  width: 47px;
  bottom: 69px;
  left: -24px;
}
.block-form__img--list31 {
  width: 135px;
  bottom: 58px;
  right: -67px;
}
.block-form__img img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .block-form__img {
    display: none;
  }
}

.footer {
  padding: 17px 0;
  width: 100%;
}

.container__footer {
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
@media screen and (max-width: 480px) {
  .container__footer {
    flex-direction: column;
    justify-content: center;
  }
}

.footer__text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  padding-left: 86px;
}
.footer__text a {
  color: #0b4d3c;
}
.footer__text a span svg {
  fill: #0b4d3c;
}
@media screen and (max-width: 480px) {
  .footer__text {
    width: 100%;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
  }
}

.footer__icons {
  width: 50%;
}
@media screen and (max-width: 480px) {
  .footer__icons {
    width: 100%;
  }
}

.footer__list {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 480px) {
  .footer__list {
    justify-content: center;
    padding-left: 45px;
    padding-bottom: 35px;
  }
}

.footer__item {
  height: 20px;
  width: 20px;
  display: flex;
  margin-right: 14px;
}
.footer__item:nth-child(4) {
  margin-right: 74px;
}

.footer__icon {
  fill: #b3b3b3;
}

.mobail-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  z-index: 100;
}

.mobail-nav nav {
  display: block;
  height: 100%;
}

.nav__list-mobail {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}
.nav__list-mobail .nav__item {
  margin: 0;
}
.nav__list-mobail .nav__item .nav__link {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 72px;
}/*# sourceMappingURL=style.css.map */