.section__slider {
    background: #f8faf9;
    // z-index: 1;

    &:after {
        display: block;
        content: url("../img/slider/layer-bar1 1.png");
        position: absolute;
        right: 0;
        bottom: -80px;

        @include tablets {
            bottom: 0;
        }
    }
}

.container__slider {
    flex-direction: row;
    justify-content: space-between;
}

.slider-shop{
    display: block;
    position: relative;
    width: 100%;
}

.block-content__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    visibility: hidden;
    opacity: 0;

    @include tablets {
        flex-direction: column;
        padding-top: 86px;
    }

    .leaf {
        position: absolute;
        // width: 13px;
        // height: 27px;
    }
    .leaf1 {
        top: 236px;
        left: -85px;

        @include tablets {
            top: 154px;
            left: 163px;
        }
    }
    .leaf2 {
        bottom: 137px;
        left: 285px;

        @include tablets {
            bottom: 226px;
            left: 445px;
        }
    }
}
.slider--activ {
    // position: absolute;
    visibility: visible;
    opacity: 1;
}


.block__slider {
    width: 50%;

    @include tablets {
        position: relative;
        left: 36px;
        top: 27px;
    }
}

.block__slider-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    padding-right: 26px;
    position: relative;

    @include tablets {
        width: 100%;
        padding: 0;
        padding-top: 54px;
    }
}
.slider-text__composition {
    margin-top: 66px;
    display: flex;
    position: relative;

    @include tablets {
        display: none;
    }
}
.box__icon {
    width: 91px;
    height: 91px;
    background: #86c3d7;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // text-align: center;
    padding-top: 12px;

    &:hover {
        .composition-list {
            display: block;
            overflow: visible;
            height: auto;
        }
    }

    span {
        font-family: "Alegreya Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 14.0121px;
        line-height: 17px;
        color: #fff;
    }
}
.bar-icon {
    width: 46px;
    height: 46px;
    fill: #fff;
}
.slider-text__title {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    color: #292929;
    margin-top: 23px;

    @include tablets {
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
    }
}
.slider-text__subtitle {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
    margin-top: 23px;
    z-index: 30;
    @include tablets {
        margin-top: 14px;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}
.box-text {
    width: 91%;

    @include tablets {
        width: 72%;
        margin: 0 auto;
    }
}
.box-caloric {
    margin-top: 23px;
    display: flex;

    @include tablets {
        justify-content: center;
    }
}
.box-caloric__calor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 44px;
}
.box-caloric__mas {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.box-price {
    display: flex;
    margin-top: 23px;

    @include tablets {
        justify-content: center;
    }
}
.box-price__sum {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    color: #151515;
    margin-right: 40px;
}
// .box-price__btn {

// }

.btn__slider--green {
    background: #0b4d3c;
    color: #ffffff;

    &:hover {
        color: #0b4d3c;
        background: #fff;
    }
}

.block-arrow {
    // width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    // height: 40px;
}
.arrow {
    width: 25px;
    height: 27px;
    // background-color:transparent;

    &:hover {
        fill: aqua;
    }
}
.block-arrow__left {
    margin-right: 59px;
    position: relative;
    @include tablets {
        margin: 0;
        left: 15%;
    }

    .block-arrow__img {
        @include tablets {
            bottom: 68px;
            // left: 142px;
        }

        @include phones {
            bottom: 100px;
        }
    }
}

.block-arrow__right {
    position: relative;
    @include tablets{
        right: 9%;
    }

    .block-arrow__img {
        position: relative;
        @include tablets {
            // right: 139px;
            bottom: 68px;
        }
        @include phones{
            bottom: 100px;
        }
    }
}
.block-arrow__img {
    height: 40px;
    width: 24px;
    position: relative;
}
span b {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
.composition-list {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(20px);

    border-radius: 4px;
    padding: 30px;
    position: absolute;
    left: 92px;
    display: none;
    height: 0;
    overflow: hidden;
}
.composition-item {
    display: flex;
    margin-bottom: 28px;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    &:last-child {
        margin-bottom: 0;
    }
}
.composition__icon {
    margin-right: 16px;
    width: 32px;
    height: 32px;
    &:hover {
        fill: purple;
    }
}
.composition__title {
    margin-right: 30px;
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 500;
    // font-size: 16px;
    // line-height: 24px;
}
