.section__slider{
    border:1px solid #000;
    background: #F8FAF9;
// z-index: 1;
}

.container__slider{
    border:1px solid blue;
    flex-direction: row;
}
.block-content__slider{
    display: flex;
}