.section__revuev {
    background: #fff;

    &:after {
        position: absolute;
        content: url("../img/revuev/straw.png");
        position: absolute;
        top: 47px;
        right: 18px;

        @include tablets{
            display: none;
        }
    }
    &:before {
        position: absolute;
        content: url("../img/revuev/uzorrevu.svg");
        left: 0;
        bottom: -170px;
    }
}

.container__revuev {
    position: relative;

    &:after {
        position: absolute;
        content: url("../img/revuev/yagoda21.svg");
        right: 0;
        bottom: 35%;

        @include tablets{
            bottom: 40%;
        }
    }
    // &:after{
    //     position: absolute;
    //     content: url("../img/revuev/yagoda2.png");
    //     left: -25%;
    //     bottom: -60px;
    // }
}

// .rev-yaga{
//     background: url('../img/revuev/yagoda21.svg') center no-repeat;
//     width: 18%;
// }

.title--rev {
    text-align: center;
    margin-top: 62px;
    margin-bottom: 32px;

    @include tablets{
        margin-bottom: 89px;
    }
}

.block-rev {
    position: relative;
    display: flex;

    background: #f8faf9;
    padding: 42px;
    overflow:hidden;
    &::before {
        position: absolute;
        display: block;
        content: "";
        height: 90px;
        width: 90px;
        background: #fff;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        top: -65px;
    }

    @include tablets{
        flex-direction: column;
        align-items: center;
    }
}
.rev-img {
    display: block;
    height: auto;
    max-width: 253px;
    margin-right: 40px;

    @include tablets{
        width: 130px;
      margin: 0 0 32px 0;
    }
}
.rev-text {
    font-family: "Alegreya Sans";
    width: 47%;
    padding-right: 5px;

    @include tablets{
        width: 100%;
        text-align: center;
    }
}
.rev-text__title {
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 12px;

    @include tablets{
        margin-bottom: 16px;
    }
}
.rev-text__subtile {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 25px;

    @include tablets{
        margin-bottom: 16px;
    }
}
.rev-text__name {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    @include tablets{
        margin: 0 0 53px 0;
        margin-bottom: 53px;
    }
}

.rev__block-img {
    display: block;
    margin-top: 15px;

    @include tablets{
        margin: 0;
    }
}
.rev__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rev__item {
    // height: 74px;
    width: 74px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        border: 4px solid $darkGreen;
    }

    img {
        border-radius: 50%;
    }
}
// 