.section__revuev {
    background: #fff;
    height: 100%;

    &:after {
        position: absolute;
        content: url("../img/revuev/straw.png");
        position: absolute;
        top: 47px;
        right: 18px;

        @include tablets {
            // display: none;
            width: 136px;
            top: 0;
            right: 0;
        }
    }
    &:before {
        position: absolute;
        content: url("../img/revuev/uzorrevu.svg");
        left: 0;
        bottom: -170px;
    }
}

.container__revuev {
    position: relative;
    height: 100%;
    // &:after {
    //     display: block;
    //     position: absolute;
    //     content: url("../img/revuev/yagoda21.svg");
    //     right: 0;
    //     bottom: 47%;
    //     z-index: 0;

    //     @include tablets{
    //         right: 2%;
    //         bottom: 38%;
    //     }

    //     @include phones{
    //         bottom: 38%;
    //     }
    //     }
}

.title--rev {
    text-align: center;
    margin-top: 62px;
    margin-bottom: 32px;

    @include tablets {
        margin-bottom: 89px;
        font-size: 33px;
        margin-top: 102px;
        margin-bottom: 0;
    }
}
.title-rev {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    @include phones {
        font-weight: 700;
        font-size: 40px;
        line-height: 36px;
    }
}

.block-rev {
    position: relative;
    min-height: 348px;
    display: flex;
    background: url("../img/revuev/yagoda21.svg") top right no-repeat;
    background-size: 127px;
    background-position-y: 20px;
    background-color: #f8faf9;
    padding: 42px;
    overflow: hidden;
    &::before {
        position: absolute;
        display: block;
        content: "";
        height: 90px;
        width: 90px;
        background: #fff;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        top: -65px;
    }

    @include tablets {
        background-position-y: 40px;
        padding-bottom: 23px;
        flex-direction: column;
        align-items: center;
    }

    @include phones {
        &::before {
            display: none;
            overflow: visible;
        }
    }
}

.item-rev {
    display: flex;
    position: absolute;
    opacity: 0;

    @include tablets{
        flex-direction: column;
        // justify-content: center;
        align-items: center;
    }
}
.item-rev--activ {
    opacity: 1;
    position: static;
}
.rev-img {
    display: block;
    height: auto;
    max-width: 253px;
    margin-right: 40px;

    @include tablets {
        max-width: 130px;
        margin: 47px 0 0 0;
    }
}
.rev-text {
    font-family: "Alegreya Sans";
    width: 47%;
    padding-right: 5px;

    @include tablets {
        width: 100%;
        text-align: center;
    }
}
.rev-text__title {
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 12px;
    padding-top: 27px;

    @include tablets {
        margin-bottom: 16px;
    }
    @include phones {
        font-size: 27px;
        line-height: 32px;
    }
}
.rev-text__subtile {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 25px;

    @include tablets {
        margin-bottom: 15px;
    }

    @include phones {
        font-size: 18px;
        line-height: 22px;
    }
}
// .rev-text__subtile p{
//     @include phones{
//         font-weight: 400;
//         font-size: 18px;
//         line-height: 22px;
//     }
// }
.rev-text__name {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    @include tablets {
        margin: 0 0 53px 0;
    }

    @include phones {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 49px;
    }
}

.rev__block-img {
    display: block;
    margin-top: 15px;

    @include tablets {
        margin: 0;
    }

    @include phones{
        padding-bottom: 86px;
    }
}
.rev__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rev__item {
    // height: 74px;
    width: 74px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;

    &:last-child {
        margin-right: 0;
    }

    

    img {
        border-radius: 50%;
    }
@include phones{
    width: 64px;
}

}
.rev__item--activ {
    border: 3px solid $darkGreen;
}
//
