input {
    border: transparent;
    outline: none;
    line-height: 20px;
    &:hover {
        border: 1px solid #dee2bd;
    }
}
.section__form {
    height: 100vh;
    background: url("../img/form/bg.png") center no-repeat;
    background-size: cover;
    padding-top: 62px;
    padding-bottom: 85px;
}

.container__form {
    font-family: "Alegreya Sans";
    font-style: normal;
    position: relative;
}

.block-title__form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 38px;
    //
    .title__form {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;
        color: #365a49;
    }
}
.form {
    // border: 1px solid purple;
    display: flex;
    color: #497870;
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    column-gap: 27px;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.form__left {
    width: 50%;
    // border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
    // row-gap: 14px;

    @include tablets {
        width: 63%;
        margin-bottom: 19px;
    }
}

.form .form__right {
    width: 50%;
    // border: 1px solid blue;

    @include tablets {
        width: 63%;
    }
}
.form__title {
    margin-bottom: 2px;
}
.form__left-input {
    display: flex;
    column-gap: 16px;
    width: 100%;
}

.form__input {
    width: 100%;
    padding: 12px 18px;
    border-radius: 5px;
    &:focus {
        border-color: #dee2bd;
        outline: none;
    }
}

.form__block {
    flex: 1;
}
.form__right {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.form__right-textaria {
    margin-bottom: 36px;

    textarea {
        width: 100%;
        height: 152px;
        border-radius: 4px;
        border: none;
        resize: none;
        &:focus {
            border-color: #dee2bd;
            outline: none;
        }
        @include tablets{
            height: 82px;
            // margin-bottom: 15px;
        }
    }

    @include tablets{
        margin-bottom: 20px;
    }
}
.form__right-radio {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;

    .radio {
        display: flex;
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &:before {
            display: block;
        }
    }
}
.radio__visible {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: relative;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border-radius: 50%;
    margin-right: 10px;

    &:before {
        display: none;
        content: "";
        position: absolute;
        width: 13px;
        height: 13px;
        background: $darkGreen;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &--checkbox {
        border-radius: 0;

        &:before {
            background: url("../img/form/g1.png") center no-repeat;
        }
    }
}
.form__right-checkbox {
    margin-bottom: 44px;
}

.radio__checkbox {
    display: flex;
}
.form__right-btn{
    display: flex;
    justify-content: center;
}

.btn__form {
    &--gren {
        background: $darkGreen;
        color: #ffffff;

        &:hover {
            color: $darkGreen;
            background: #fff;
        }
    }

    &--transperent {
        background: transparent;
        color: #000;
        &:hover {
            background: transparent;
            color: $darkGreen;
        }
    }
}
.block-form__img {
    position: absolute;

    &--yagoda {
        width: 47px;
        bottom: 69px;
        left: -24px;
    }
    &--list31 {
        width: 135px;
        bottom: 58px;
        right: -67px;
    }
    img {
        width: 100%;
    }

    @include tablets {
        display: none;
    }
}
//
