.section__two {
    background: #fff;
    height: 100vh;

    &:after {
        position: absolute;
        content: url("../img/two/malina.png");
        bottom: -140px;
        left: 0;
        z-index: 10;

        @include phones {
            content: "";
        }
    }
    &:before {
        position: absolute;
        content: url("../img/two/liav.svg");
        left: 0;
        top: 30%;
        @include tablets {
            // top: 20%;
            content: "";
        }
    }
}
.container--two {
    // border: 1px solid red;
    // justify-content: space-around;
    padding-top: 102px;

    @include phones {
        padding-top: 52px;
    }
}

.block-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 49px;

    @include phones {
        margin-bottom: 62px;
    }
    .title {
        padding-bottom: 6px;
        //  white-space: nowrap;

        @include phones {
            padding-bottom: 12px;

            text-align: center;
            
        }
    }
    z-index: 70;
}
.title__two{
    font-size: 48px;
    line-height: 58px;


    @include phones{
        font-size: 27px;
        font-weight: 700;
        line-height: 34px;
    }

    @include phones{
        
font-size: 40px;
line-height: 36px;
    }
}

.subtitle {
    width: 47%;
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
    margin: 0 auto;
    text-align: center;

    // span {
    //     text-align: center;
    // }
    @include tablets {
        width: 60%;
        line-height: 20px;
    }
    @include phones {
        width: 90%;
        // font-size: 18px;
        line-height: 20px;
    }
}
.block-promo {
    // border: 1px solid yellow;
    z-index: 70;
}
.list__promo {
    display: flex;
    // border: 1px solid rgb(25, 149, 100);

    @include phones {
        flex-direction: column;
        padding-bottom: 54px;
    }
}
.item__promo {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include phones {
        flex-direction: row;
        padding: 0px 11px;
        margin-bottom: 30px;
    }
}
.promo__img {
    width: 128px;
    height: 128px;
    background: #f2f5f4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    @include phones {
        margin: 0;
        background: none;
        margin-left: 24px;
        margin-right: 40px;
        padding-bottom: 14px;
        width: 154px;
    }
}
.two-icon {
    // width: 100%;
    width: 64px;
}
.promo-text{
    display: flex;
    flex-direction: column;

}
.promo__title {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #292929;
    margin-bottom: 8px;
    text-align: center;
    @include phones {
        margin-bottom: 14px;
    }

    @include phones {
        text-align: start;
    }
}
.promo__subtitle p {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
    text-align: center;

    @include phones {
        text-align: start;
    }
}
